@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;



.btn {
  @include mix.btn(176px, 42px, 3px, $primary_color);
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;

  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;        // Start from mid
    right: 50%;
    bottom: 0;
    background-color: $white_color; // Background for hover
    opacity: 0;
    z-index: -1;      // inside text
    transition: 0.5s all ease;
  }

  &:hover {
    color: $primary_color;
    background-color: transparent;
    border: 1px solid $primary_color;
    border-radius: 6px;
    font-weight: 500;

    &::before {
      left: 0;        // Spread evenly to both sides
      right: 0;
      opacity: 1;
    }
  }
  &:active {
    transform: scale(0.9); // Shrinkage effect when clicking from a new image
  }
}

