@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;

.btn {
  @include mix.btn(176px, 42px, 3px, $primary_color);
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;

  &::before {
    content: '';
    position: absolute;
    top: 0; left: 50%; right: 50%; bottom: 0; // Bắt đầu từ trục giữa dọc
    background-color: $white_color;
    opacity: 0;
    z-index: -1;
    transition: 0.5s all ease;
  }

  &:hover {
    color: $primary_color;
    font-weight: 500;
    &::before {
      left: 0; right: 0;
      opacity: 1;
    }
  }

  &:active { transform: scale(0.9); }
}

.btn2 {
  @include mix.btn(176px, 42px, 3px, $primary_color);
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;

  &::before {
    content: '';
    position: absolute;
    top: 50%; bottom: 50%; left: 0; right: 0; // Bắt đầu từ trục giữa ngang
    background-color: $white_color;
    opacity: 0;
    z-index: -1;
    transition: 0.5s all ease;
  }

  &:hover {
    color: $primary_color;
    font-weight: 500;
    &::before {
      top: 0; bottom: 0;
      opacity: 1;
    }
  }

  &:active { transform: scale(0.9); }
}

.btn3 {
  @include mix.btn(176px, 42px, 3px, $white_color); // Mặc định nền trắng
  border: 1px solid $primary_color;
  color: $primary_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s all ease;

  // Lớp nền màu đổ từ giữa ra (Giống btn2)
  &::after {
    content: '';
    position: absolute;
    top: 50%; bottom: 50%; left: 0; right: 0;
    background-color: $primary_color;
    opacity: 0;
    z-index: -1;
    transition: 0.4s all ease;
  }

  // Lớp tia sáng lướt qua
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; 
    width: 60px; // Thu hẹp một chút cho tinh tế
    height: 100%;
    background: linear-gradient(
      120deg, 
      transparent, 
      rgba(255, 255, 255, 0.4), 
      transparent
    );
    transform: skewX(-25deg);
    z-index: 2;
  }

  &:hover {
    color: $white_color;
    font-weight: 500;
    
    &::after {
      top: 0; bottom: 0;
      opacity: 1;
    }

    &::before {
      left: 150%;
      transition: 0.8s all ease; 
    }
  }

  &:active { transform: scale(0.95); }
}

