@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;

.btn {
  @include mix.btn(176px, 42px, 3px, $primary_color);

  
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;

  &::before {
    content: '';
    position: absolute;
    top: 0; left: 50%; right: 50%; bottom: 0; // Bắt đầu từ trục giữa dọc
    background-color: $white_color;
    opacity: 0;
    z-index: -1;
    transition: 0.5s all ease;
  }

  &:hover {
    color: $primary_color;
    font-weight: 500;
    &::before {
      left: 0; right: 0;
      opacity: 1;
    }
  }

  &:active { transform: scale(0.9); }
}

.btn1 {
  @include mix.btn(176px, 42px, 3px, $primary_color);

  width: 100%;
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;


  

  &:active { transform: scale(0.9); }
}

.btn1_1 {
  @include mix.btn(176px, 42px, 3px, $white_color);

  width: 100%;
  color: $primary_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;


  

  &:active { transform: scale(0.9); }
}

.btn2 {
  @include mix.btn(176px, 42px, 3px, $primary_color);
  color: $white_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s all ease;

  &::before {
    content: '';
    position: absolute;
    top: 50%; bottom: 50%; left: 0; right: 0; // Bắt đầu từ trục giữa ngang
    background-color: $white_color;
    opacity: 0;
    z-index: -1;
    transition: 0.5s all ease;
  }

  &:hover {
    color: $primary_color;
    font-weight: 500;
    &::before {
      top: 0; bottom: 0;
      opacity: 1;
    }
  }

  &:active { transform: scale(0.9); }
}

.btn3 {
  @include mix.btn(176px, 42px, 3px, $white_color); // Mặc định nền trắng
  border: 1px solid $primary_color;
  color: $primary_color;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s all ease;

  // Lớp nền màu đổ từ giữa ra (Giống btn2)
  &::after {
    content: '';
    position: absolute;
    top: 50%; bottom: 50%; left: 0; right: 0;
    background-color: $primary_color;
    opacity: 0;
    z-index: -1;
    transition: 0.4s all ease;
  }

  // Lớp tia sáng lướt qua
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%; 
    width: 60px; // Thu hẹp một chút cho tinh tế
    height: 100%;
    background: linear-gradient(
      120deg, 
      transparent, 
      rgba(255, 255, 255, 0.4), 
      transparent
    );
    transform: skewX(-25deg);
    z-index: 2;
  }

  &:hover {
    color: $white_color;
    font-weight: 500;
    
    &::after {
      top: 0; bottom: 0;
      opacity: 1;
    }

    &::before {
      left: 150%;
      transition: 0.8s all ease; 
    }
  }

  &:active { transform: scale(0.95); }
}

.btn4 {
  @include mix.btn(176px, 42px, 3px, $primary_color);
  color: $white_color;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.25s ease, background-color 0.25s ease;

  // Sóng dưới
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12%;
    background: rgb(187, 171, 154);
    z-index: -1;
    transition: 0.25s ease;

    clip-path: polygon(
      0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%,
      20% 78%, 25% 77%, 32% 77%, 37% 75%,
      40% 74%, 43% 74%, 46% 73%, 52% 72%,
      57% 72%, 65% 74%, 66% 75%, 71% 78%,
      75% 82%, 81% 86%, 83% 88%, 88% 91%,
      90% 94%, 94% 96%, 98% 98%, 100% 100%,
      82% 100%, 0 100%
    );
  }

  // Sóng trên (đảo ngược)
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 12%;
    background: rgb(187, 171, 154);
    transform: rotate(180deg);
    z-index: -1;
    transition: 0.25s ease;

    clip-path: polygon(
      0% 74%, 4% 75%, 8% 76%, 11% 77%, 15% 78%,
      20% 78%, 25% 77%, 32% 77%, 37% 75%,
      40% 74%, 43% 74%, 46% 73%, 52% 72%,
      57% 72%, 65% 74%, 66% 75%, 71% 78%,
      75% 82%, 81% 86%, 83% 88%, 88% 91%,
      90% 94%, 94% 96%, 98% 98%, 100% 100%,
      82% 100%, 0 100%
    );
  }

  &:hover {
    background-color: $white_color;
    color: $primary_color;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    

    &::before,
    &::after {
      height: 85%;
      clip-path: polygon(
        0 30%, 9% 34%, 7% 39%, 11% 43%,
        13% 33%, 17% 30%, 24% 34%, 25% 35%,
        30% 31%, 30% 38%, 39% 33%, 35% 43%,
        43% 45%, 55% 46%, 65% 74%, 67% 66%,
        81% 57%, 75% 82%, 81% 86%, 83% 88%,
        88% 91%, 90% 94%, 94% 96%, 98% 98%,
        100% 100%, 82% 100%, 0 100%
      );
    }
  }

  &:active {
    transform: scale(0.94);
  }
}


