@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;


.container {
  @include mix.flex_box_custom(space-between, center, 10px);
  
  margin-top: 10px;
  flex-wrap: wrap;
  
}