@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;



.containerSalePage {
  @include mix.flex_box_custom(space-between, center, 0px);

  margin-top: 100px;

  .title {
    font-size: 35px;
    color: $four_color;
    font-weight: 400;
    text-align: center;
  }

  .desc {
    font-size: 16px;
    color: $third_color;
    width: 100%;
    line-height: 26px;
    text-align: center
  }

  .boxbtn {
    @include mix.flex_box_custom(center, center, 0px);
    margin-top: 40px
  }

  .boxImg {
    @include mix.flex_box_custom(center, center, 0px);
    width: 100%;

  }
}