@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module.scss' as *;


.container {
  @include mix.flex_box_custom(center, center, 0px);
  
  left: 0;
  right: 0;
  // background-color: bisque;
}

.topHeader {
  position: absolute;
  top: 0;
}

.fixedHeader {
  position: fixed;
  top: -83px;
  background-color: rgba(255, 254, 254, 0.9);
  z-index: 999;
  box-shadow: 2px 0px 12px 0px rgba($color: #a59e9e, $alpha: 1.0);
  backdrop-filter: blur(5px);
  transform: translateY(83px);
  transition: transform 0.6s ease;
}


.containerHeader {
  width: 1250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}

.containerBoxIcon {
  @include mix.flex_box_custom(center, center, 20px);
  cursor: pointer;
}

.containerBox {
  @include mix.flex_box_custom(center, center, 20px)
}

.containerMenu {
  @include mix.flex_box_custom(center, center, 30px)
}

.boxIcon {
  @include mix.radius_common(50%);
  @include mix.flex_box_custom(center, center, 0px);
  background-color: $primary_color;
  width: 26px;
  height: 26px;
}

.menu {
  cursor: pointer;
  padding-top: 9px;
  font-size: 15px;
  color: $primary_color;
}

.menu::after {
  content: '';
  display: block;
  height: 3px;
  background-color: $primary_color;
  margin-top: 4px;
  transform-origin: right;
  transform: scale(0);
  opacity: 0;
  transition: transform 300ms, opacity 300ms;
}

.menu:hover::after {
  transform: scale(1);
  opacity: 1;
}

