@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module.scss' as *;

.container {
  @include mix.flex_box_custom(center, center, 20px);

  flex-direction: column;
  background-color: #363636;
  margin-top: 80px;
  color: $white_color;
  padding: 50px 0px;

  .boxNav {
    @include mix.flex_box_custom(center, center, 50px);
    font-size: 15px;

    :hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

}