@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;


.boxImg {
  width: 300px;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover .showImageHover {
    opacity: 1;
    transition: opacity 500ms;
  }

  .showImageHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  &:hover .showFn {
    opacity: 1;
    right: 20px;
    transition: opacity 500ms, right 500ms;
  }
  .showFn {
    position: absolute;
    opacity: 0;
    bottom: 20px;
    right: 0px;
    background-color: white;
  }

  .boxIcon {
    
    width: 40px;
    height: 40px;

    @include mix.flex_box_custom(center, center, 0px);

    img {
      width: 17px;
      height: 17px;
    }

    &:hover {
      
      background-color: #ccc;
      transition: background-color 300ms opacity 500ms;
    }
  }
}

.titleCard {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
  }
  
  .priceCard {
    font-size: 14px;
    color: $third_color;
    font-weight: 500;
   
  }