@use '@styles/mixins.module.scss' as mix;
@use '@styles/variables.module' as *;

.containerBanner {
  @include mix.flex_box_custom(center, center, 0px);

  background-image: url(../../assets/banner/banner-1.jpeg);
  min-height: 750px;
 
  background-size: cover;
  background-position: center;

  
  background-repeat: no-repeat;

  
}

.contentBanner {
  @include mix.flex_box_custom(center, center, 10px);
  flex-direction: column;
}

.titleBanner {
  font-size: 42px;
  color: $four_color;
  font-weight: 400;
  margin: 15px 0;
}

.desBanner {
  color: $third_color;
  font-weight: 400;
  margin-bottom: 25px;
}